{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "corejs": 2,
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    "emotion"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage"
          }
        ]
      ]
    }
  }
}
