{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "emotion"],
  "globals": {
    "graphql": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "linebreak-style": 0,
    "semi": 2,
    "emotion/import-from-emotion": "error",
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/styled-import": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.7.0"
    }
  }
}
